body {
    background-image: url("../images/25774450-seamless-pattern-crystal.jpg");
}
#Header{
    font-size: 35px;
    font-family: "Times New Roman";
    color: white;
    background: chocolate;
    width: 25%;
}

.Instructions{
    background: blanchedalmond;
    font-family: Georgia;
    font-size: 16px;
    color: teal;
    width: 30%;
    height: 40%;
    margin-top: -1%;

}

.Random {
    background: darkgreen;
    width: 25%;
    height: 60px;
}

#main-container {
    padding-top: 2px;
}

#numberToGuess {
    float: left;
    width: 20%;
    height: 120px;
    text-align: center;
    background: darkgreen;
    color: white;
    font-size: xx-large;
}

.sidebar {
    float: left;
    margin-left: 1%;
    height: 120px;
    width: 10%;
    max-width: 200px;

    background: aqua;
    border: 1px solid #ddd;
}

#Crystals{
    width: 659px;
    padding-top: 1px;
    clear: both;
    height: 50px;

}

#images1{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-color: rebeccapurple;
    border-style: solid ;

}

#images2{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-color: red;
    border-style: solid;


}

#images3{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-color: hotpink;
    border-style: solid;

}

#images4{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-color: mediumspringgreen;
    border-style: solid;

}

.Score {
    width: 20%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-top: 2%;
}

#Final-Score {
    width: 20%;
    height: 60px;
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: teal;
}

@media only screen and (max-width: 980px) {


    #Header{
        font-size: 35px;
        font-family: "Times New Roman";
        color: white;
        background: chocolate;
        width: 25%;
    }

    .Instructions{
        background: blanchedalmond;
        font-family: Georgia;
        font-size: 16px;
        color: teal;
        width: 30%;
        height: 40%;

    }

    .Random {
        background: darkgreen;
        width: 25%;
        height: 100px;
    }

    #main-container {
        padding-top: 5px;
    }

    #numberToGuess {
        float: left;
        width: 20%;
        height: 160px;
        text-align: center;
        background: darkgreen;
        color: white;
        font-size: xx-large;
    }

    .sidebar {
        float: left;
        margin-left: 1%;
        height: 160px;
        width: 10%;
        max-width: 200px;

        background: aqua;
        border: 1px solid #ddd;
    }

    #Crystals{
        width: 659px;
        padding-top: 3px;
        clear: both;
        height: 50px;

    }

    #images1{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images2{
        width: 60px;
        height: 60px;
        margin-right: 5px;


    }

    #images3{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images4{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    .Score {
        width: 20%;
        background-color: teal;
        color: white;
        color: white;
        text-align: center;

    }

    #Final-Score {
        width: 20%;
        height: 80px;
        text-align: center;
        color: white;
        font-size: xx-large;
        background-color: teal;
    }


@media only screen and (max-width: 768px) {
    #Header{
        font-size: 35px;
        font-family: "Times New Roman";
        color: white;
        background: chocolate;
        width: 25%;
    }

    .Instructions{
        background: blanchedalmond;
        font-family: Georgia;
        font-size: 16px;
        color: teal;
        width: 30%;
        height: 40%;

    }

    .Random {
        background: darkgreen;
        width: 25%;
        height: 100px;
    }

    #main-container {
        padding-top: 5px;
    }

    #numberToGuess {
        float: left;
        width: 20%;
        height: 160px;
        text-align: center;
        background: darkgreen;
        color: white;
        font-size: xx-large;
    }

    .sidebar {
        float: left;
        margin-left: 1%;
        height: 160px;
        width: 10%;
        max-width: 200px;

        background: aqua;
        border: 1px solid #ddd;
    }

    #Crystals{
        width: 659px;
        padding-top: 3px;
        clear: both;
        height: 50px;

    }

    #images1{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images2{
        width: 60px;
        height: 60px;
        margin-right: 5px;


    }

    #images3{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images4{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    .Score {
        width: 20%;
        background-color: teal;
        color: white;
        color: white;
        text-align: center;

    }

    #Final-Score {
        width: 20%;
        height: 80px;
        text-align: center;
        color: white;
        font-size: xx-large;
        background-color: teal;
    }

@@media only screen and (max-width: 640px){
    #Header{
        font-size: 35px;
        font-family: "Times New Roman";
        color: white;
        background: chocolate;
        width: 25%;
    }

    .Instructions{
        background: blanchedalmond;
        font-family: Georgia;
        font-size: 16px;
        color: teal;
        width: 30%;
        height: 40%;

    }

    .Random {
        background: darkgreen;
        width: 25%;
        height: 100px;
    }

    #main-container {
        padding-top: 5px;
    }

    #numberToGuess {
        float: left;
        width: 20%;
        height: 160px;
        text-align: center;
        background: darkgreen;
        color: white;
        font-size: xx-large;
    }

    .sidebar {
        float: left;
        margin-left: 1%;
        height: 160px;
        width: 10%;
        max-width: 200px;

        background: aqua;
        border: 1px solid #ddd;
    }

    #Crystals{
        width: 659px;
        padding-top: 3px;
        clear: both;
        height: 50px;

    }

    #images1{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images2{
        width: 60px;
        height: 60px;
        margin-right: 5px;


    }

    #images3{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    #images4{
        width: 60px;
        height: 60px;
        margin-right: 5px;

    }

    .Score {
        width: 20%;
        background-color: teal;
        color: white;
        color: white;
        text-align: center;

    }

    #Final-Score {
        width: 20%;
        height: 80px;
        text-align: center;
        color: white;
        font-size: xx-large;
        background-color: teal;
    }


