body {
    background-image: url("../images/25774450-seamless-pattern-crystal.jpg");
}
#Header{
    font-size: 35px;
    font-family: "Times New Roman";
    color: white;
    background: chocolate;
    width: 25%;
}

.Instructions{
    background: blanchedalmond;
    font-family: Georgia;
    font-size: 16px;
    color: teal;
    width: 40%;
    height: 50%;
}

.Random {
    background: darkgreen;
    width: 30%;
    height: 120px;
}

#main-container {
    padding-top: 5px;
}

#numberToGuess {
    float: left;
    width: 25%;
    height: 190px;
    text-align: center;
    background: darkgreen;
    color: white;
    font-size: xx-large;
}

.sidebar {
    float: left;
    margin-left: 1%;
    height: 190px;
    width: 10%;
    max-width: 200px;

    background: aqua;
    border: 1px solid #ddd;
}

#Crystals{
    width: 659px;
    padding-top: 3px;
    clear: both;
    height: 70px;
}
#images{
    width: 80px;
    height: 80px;
    margin-right: 5px;

}


.Score {
    width: 25%;
    background-color: teal;
    color: white;
}

#Final {
    width: 25%;
    height: 130px;
    background-color: teal;
}